---
import { Image } from "astro:assets";
import Layout from "../layouts/layoutBase.astro";
const Data = await fetch(
  "https://raw.githubusercontent.com/ikrarun/ikrarun/main/src/jsons/portfolio.json"
).then((res) => res.json());
const data: {
  title: string;
  desc: string;
  image: string;
  link: string;
}[] = Data;
---

<Layout title="Work Space">
  <div
    class="w-full flex flex-col items-center pt-12 gap-6 max-w-[900px] mx-auto"
  >
    <h1 class="text-6xl self-center underline mb-8 underline-offset-8">
      Portfolio
    </h1>
    <div class="grid grid-cols-3 gap-2 w-full place-items-center grid-flow-row">
      {
        data.map((item) => (
          <a
            href={item.link}
            class="h-full rounded-md flex flex-col w-full px-2 py-2 border border-white/30"
          >
            <Image
              class="rounded w-full"
              inferSize
              src={item.image}
              alt={item.title}
              loading="eager"
            />
            <h1 class="text-2xl px-2">{item.title}vvdssx``</h1>
            <h1 class="text-lg px-2">{item.desc}vvdssx``</h1>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
